<!DOCTYPE html>
<html ng-app="weather">
<head>
	<title>Weather API example use AngularJS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="weather.css">
</head>
<body>
<div class="main" ng-controller="TabController as tab">
	<div class="tabbar">
		<div ng-click="tab.showPage('city')" ng-model="tab.tabPool.city" class="tab" ng-class="{tab_selected: tab.tabPool.city}">Current City</div>
		<div ng-click="tab.showPage('days')" ng-model="tab.tabPool.days" class="tab" ng-class="{tab_selected: tab.tabPool.days}">Next Days</div>
	</div>
	<div class="typeSelect">
		<span>Type : </span>
		<input type="radio" name="typeSel" value="xml"></input><span>XML</span>
		<input type="radio" name="typeSel" value="json"></input><span>JSON</span>
	</div>
	<div class="content_block">
		<div id="content_city" ng-show="tab.tabPool.city">
			<div class="select">
				<select id="changeCity">
					<option value="Taipei">Taipei</option>
					<option value="NewYork">New York</option>
					<option value="London">London</option>
				</select>
			</div>
			<h3 ng-bind="tab.cityInfo"></h3>
            <h2> <img src="images/{{tab.icon}}.png"><span ng-bind="tab.temperature"></span></h2><span ng-bind="tab.cityDesInfo"></span>
            <p>
            	<span ng-bind="tab.date_m"></span>
            	(<a type="button" style="color: #D26C22;" href="#">Wrong data?</a>)
            </p>
            <table class="table table-striped table-bordered table-condensed">
            	<tbody>
            		<tr>
            			<td>Wind</td>
            			<td><span ng-bind="tab.windVal"></span> m/s <br><span ng-bind="tab.windDirection"></span></td>
            		</tr>
                	<tr>
                		<td>Cloudiness</td>
                		<td><span ng-bind="tab.cloudsName"></span></td>
                	</tr>
                	<tr>
                		<td>Pressure<br></td>
                		<td><span ng-bind="tab.Pressure"></span></td>
                	</tr>
                	<tr>
                		<td>Humidity</td>
                		<td><span ng-bind="tab.Humidity"></span></td>
                	</tr>
                	<tr>
                		<td>Sunrise</td>
                		<td><span ng-bind="tab.sunrise"></span></td>
                	</tr>
                	<tr>
                		<td>Sunset</td>
                		<td><span ng-bind="tab.sunset"></span></td>
                	</tr>
                	<tr>
                		<td>Geo coords</td>
                		<td><a href="http://openweathermap.org/Maps?zoom=12&amp;lat={{tab.coordlat}}&amp;lon={{tab.coordlon}}&amp;layers=B0FTTFF"><span ng-bind="tab.geoCoords"></span></a></td>
                	</tr>
                </tbody>
            </table>
		</div>
		<div id="content_next" ng-show="tab.tabPool.days">
			<div class="select">
				<select id="changeDays">
					<option value="5">5 days</option>
					<option value="7">7 days</option>
					<option value="16">16 days</option>
				</select>
				<h3>Next days</h3>
				<div>
					<table class="table">
						<tbody>
							<tr ng-repeat="days in tab.showDaysPool">
								<td><span ng-bind="days.date"></span><img src="images/{{days.icon}}.png"></td>
								<td>
									<span class="label label-warning" ng-bind="days.tempMax"></span>&nbsp;
									<span class="label label-default" ng-bind="days.tempMin"></span> &nbsp;&nbsp;
									<i ng-bind="days.des"></i> <p><span ng-bind="days.speed"></span><br><span ng-bind="days.clous"></span></p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
