<!DOCTYPE html>
<html>
<head>
	<title>Weather API example use AngularJS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="weather.css">
</head>
<body ng-app="weather" ng-controller="TabController as tab">
<my-tabs>
	<my-pane title="Current City">
		<div id="content_city" class="content_block">
			<div class="select">
				<select id="changeCity" ng-model="tab.selectCity" ng-options="data for data in tab.cityPool" ng-change="tab.cityChange()">
				</select>				
			</div>
			<h3>{{tab.cityInfo.city._name}}, {{tab.cityInfo.city.country}}</h3>
            <h2> <img ng-src="images/{{tab.cityInfo.weather._icon}}.png"><span>{{tab.cityInfo.temperature._value | number:1}} °C</span></h2><span>{{tab.cityInfo.weather._value}}</span>
            <p>
            	<span>get on {{tab.time | date:'yyyy.MM.dd HH:mm'}}</span>
            	(<a type="button" style="color: #D26C22;" href="#">Wrong data?</a>)
            </p>
            <table class="table table-striped table-bordered table-condensed">
            	<tbody>
            		<tr>
            			<td>Wind</td>
            			<td><span>{{tab.cityInfo.wind.speed._name}} {{tab.cityInfo.wind.speed._value}} m/s</span><br><span>{{tab.cityInfo.wind.direction._name}} ({{tab.cityInfo.wind.direction._value}})</span></td>
            		</tr>
                	<tr>
                		<td>Cloudiness</td>
                		<td><span>{{tab.cityInfo.clouds._name}}</span></td>
                	</tr>
                	<tr>
                		<td>Pressure<br></td>
                		<td><span>{{tab.cityInfo.pressure._value}} {{tab.cityInfo.pressure._unit | lowercase}}</span></td>
                	</tr>
                	<tr>
                		<td>Humidity</td>
                		<td><span>{{tab.cityInfo.humidity._value}} {{tab.cityInfo.humidity._unit}}</span></td>
                	</tr>
                	<tr>
                		<td>Sunrise</td>
                		<td><span>{{tab.cityInfo.city.sun._rise | date:'HH:mm'}}</span></td>
                	</tr>
                	<tr>
                		<td>Sunset</td>
                		<td><span>{{tab.cityInfo.city.sun._set | date:'HH:mm'}}</span></td>
                	</tr>
                	<tr>
                		<td>Geo coords</td>
                		<td><a href="http://openweathermap.org/Maps?zoom=12&amp;lat={{tab.cityInfo.city.coord._lat}}&amp;lon={{tab.cityInfo.city.coord._lon}}&amp;layers=B0FTTFF"><span>[{{tab.cityInfo.city.coord._lon}}, {{tab.cityInfo.city.coord._lat}}]</span></a></td>
                	</tr>
                </tbody>
            </table>
		</div>
	</my-pane>
	<my-pane title="Next Days">
		<div id="content_next" class="content_block">
			<div class="select">
				<select id="changeDays" ng-model="tab.selectDays" ng-options="data for data in tab.daysPool" ng-change="tab.daysChange()">
				</select>
				<span>days</span>
				<h3>Next days</h3>
				<div>
					<table class="table">
						<tbody>
							<tr ng-repeat="days in tab.nextDaysInfo">
								<td><span ng-bind="days._day | date:'dd MMM'"></span><img ng-src="images/{{days.symbol._var}}.png"></td>
								<td>
									<span class="label label-warning">{{days.temperature._max | number:0}}°C</span>&nbsp;
									<span class="label label-default">{{days.temperature._min | number:0}}°C</span> &nbsp;&nbsp;
									<i ng-bind="days.symbol._name"></i> <p><span>{{days.windSpeed._mps}}m/s</span><br><span>clouds: {{days.clouds._all}}%, {{days.pressure._value}} hpa</span></p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</my-pane>
</my-tabs>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
